@import '/public/styles/variables.scss';

.menuButton {
  box-shadow: $shadow-1;
  transition: $transition-standard;
  svg path {
    fill: $light-900;
  }
  &.hover {
    box-shadow: $shadow-3; 
  }
}
.dropdownItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  font-weight: 500;
  text-decoration: none!important;
  color: inherit;
  white-space: nowrap;
  cursor: pointer;
  svg path{
    fill: $dark-900;
  }
  &:hover, &:focus {
    background: $dark-200;
    color: $dark-900;
    svg path{
      fill: $dark-900;
    }
  }
}

.dropdownItemLow {
  color: $dark-700;
  svg path{
    fill: $dark-700;
  }
  &:hover, &:focus {
    color: $dark-900;
    svg path{
      fill: $dark-900;
    }
  }
}

.dropdownItemHighlight {
  color: $primary-900;
  svg path{
    fill: $primary-900;
  }
  &:hover, &:focus {
    background: $primary-200;
    color: $primary-900;
    svg path{
      fill: $primary-900;
    }
  }
}

.genderSwitchWrapper {
  transition: $transition-standard;
  position: relative;
  display: flex;
  flex-direction: row;
  background: $dark-200;
  border-radius: $radius-large;
  border: none;
  &:hover {
    background: $dark-light;
  }
}

.genderSwitchStyles {
  transition: $transition-standard;
}

.genderSwitchStylesMale {
  left: 2px;
}

.genderSwitchStylesFemale {
  left: 50px;
}

.genderSwitchMaleIcon {
  transition: $transition-standard;
  path {
    fill: $dark-700;
  }
  &.active {
    path {
      fill: #598FF3;
    }
  }
}

.genderSwitchFemaleIcon {
  transition: $transition-standard;
  path {
    fill: $dark-700;
  }
  &.active {
    path {
      fill: #DE80E0;
    }
  }
}
