@import '../../public/styles/variables.scss';

.menuOption {
  transition: $transition-standard;
  overflow: hidden;
  border: none;
  background: none;
  border-radius: $radius-medium;
  &:not(:last-child) {
    // border-bottom: 1px solid $dark-300;
  }
  &:hover {
    background: $dark-100;
    text-decoration: none;
  }
  svg {
    path {
      fill: $dark-500;
    }
  }
}

.listItem {
  padding: 32px;
  transition: $transition-standard;
  overflow: hidden;
  background: none;
  border: none;
  align-items: left;
  text-align: left;
  &:not(:last-child) {
    border-bottom: 1px solid $dark-300;
  }
}

.editingImage {
  padding-top: 66.66%; 
  background-position: center;  
  background-size: cover;
  border-radius: $radius-medium;
  // box-shadow: $shadow-2;
}

.editingAvatar {
  // padding-top: 66.66%; 
  background-position: center;  
  background-size: cover;
  border-radius: $radius-round;
  // box-shadow: $shadow-2;
}