@font-face {
  font-family: 'PlusJakartaSans';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("PlusJakartaSans-ExtraLight.woff2") format("woff2"),
       url("PlusJakartaSans-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("PlusJakartaSans-Light.woff2") format("woff2"),
       url("PlusJakartaSans-Light.woff") format("woff");
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("PlusJakartaSans-Regular.woff2") format("woff2"),
       url("PlusJakartaSans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("PlusJakartaSans-Medium.woff2") format("woff2"),
       url("PlusJakartaSans-Medium.woff") format("woff");
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("PlusJakartaSans-Bold.woff2") format("woff2"),
       url("PlusJakartaSans-Bold.woff") format("woff");
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("PlusJakartaSans-ExtraBold.woff2") format("woff2"),
       url("PlusJakartaSans-ExtraBold.woff") format("woff");
}