@import '../../public/styles/variables.scss';

$bento-dark-900: #131119;

.bentoGrid {
  display: grid;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $breakpoint-2xl) {
    grid-template-columns: repeat(4, 1fr);
  }
  gap: 16px;
}

.bentoCard {
  position: relative;
  transition: $transition-standard;
  border-radius: $radius-medium;
  background: $bento-dark-900;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  &.bentoCard >* {
    z-index: 1;
  }
  a { 
    text-decoration: none!important;
  }
  &.bentoCardLarge {
    @media (min-width: $breakpoint-lg) {
      grid-column: span 2;
    }
  }
  &.bentoCardImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: $transition-standard;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(19, 17, 25, 0) 0%, #131119 100%), linear-gradient(0deg, rgba(19, 17, 25, 0.2), rgba(19, 17, 25, 0.2));
    }
    &:hover {
      background-size: 120%;
    }
  }
  &:hover {
    text-decoration: none!important;
  }
}

.profileCard {
  transition: $transition-standard;
  overflow:hidden;
  border: 1px solid $light-300 ;
  a {
    color: $light-900;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    box-shadow: $shadow-5;
    // a {
    //   text-decoration: underline;
    // }
    // a {
    //   text-decoration: none;
    // }
  }
}
.job {
  padding: 24px 0;
  transition: $transition-standard;
  overflow: hidden;
  background: none;
  border: none;
  align-items: left;
  text-align: left;
  height: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid $light-300;
  }
  &:hover {
    text-decoration: none;
  }
}
.jobContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}
.link {
  color: $light-700;
  width: fit-content;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    fill: $light-700;
  }
  &:hover {
    text-decoration: underline;
    color: $light-900;
    svg {
      fill: $light-900;
    }
  }
}