@import '../../public/styles/variables.scss';

.profileCard {
  transition: $transition-standard;
  overflow:hidden;
  border: 1px solid $dark-300 ;
  a {
    color: $dark-900;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    box-shadow: $shadow-5;
    // a {
    //   text-decoration: underline;
    // }
    // a {
    //   text-decoration: none;
    // }
  }
}
.link {
  color: $dark-900;
  width: fit-content;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $dark-900;
  }
}