@import '../../public/styles/variables.scss';

.body {
  background: $light-900;
}

.headerImage {
  width: 100%;
  min-height: 120px; 
  border-radius: 0 0 $radius-medium $radius-medium; 
  background-size: cover; 
  background-position: center; 
  padding-top: 25%;
}
.profilePicture {
  height: 120px; 
  width: 120px; 
  border-radius: 100%; 
  // border: 4px solid white;
  // box-shadow: $shadow-2;
}
.profileCard {
  transition: $transition-standard;
  overflow:hidden;
  border: 1px solid $dark-300 ;
  &:hover {
    box-shadow: $shadow-5;
    a {
      text-decoration: none;
    }
  }
}
.summary {
  white-space: break-spaces;
}
.job {
  padding: 32px;
  transition: $transition-standard;
  overflow: hidden;
  background: none;
  border: none;
  align-items: left;
  text-align: left;
  height: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid $dark-300;
  }
  &:hover {
    background: $dark-100;
    text-decoration: none;
  }
}
.experienceImage {
  width: 80px;
  border-radius: $radius-medium; 
}

.layoutGrid {
  display: grid;
  gap: 32px;
  // @media (min-width: $breakpoint-lg) {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  &:hover {
    * {
      text-decoration: none;
    }
  }
}

.contentCard {
  border-radius: $radius-large;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: $dark-200;
  &:hover {
    cursor: pointer;
    background: $dark-300;
  }
  &.contentCardDark {
    background: $light-200;
    &:hover {
      background: $light-300;
    }
  }
}

.featuredGrid {
  display: grid;
  gap: 48px;
  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  &:hover {
    * {
      text-decoration: none;
    }
  }
}

.heroImage {
  padding-top: 66.66%; 
  background-position: center;  
  background-size: cover;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
}
.heroImagePlaceholderSection {
  border: none;
  background: none;
  border-radius: $radius-large;
  h3 {
    text-align: left;
    transition: $transition-standard;
  }
  &:hover {
    h3 {
      color: $dark-900;
    }
    .heroImagePlaceholder {
      border: 2px solid $dark-900;
      svg path {
        fill: $dark-900
      }
    }
  }
}
.heroImagePlaceholder {
  transition: $transition-standard;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 66.66%; 
  background: $dark-200;
  border-radius: $radius-large;
  // box-shadow: $shadow-2;
  border: 2px solid transparent;
  svg {
    position: absolute;
    top: calc(50% - 24px);
    path {
      transition: $transition-standard;
      fill: $dark-600
    }
  }
  // &:hover {
  //   border: 2px solid $dark-900;
  //   svg path {
  //     fill: $dark-900
  //   }
  // }
}

.avatarImage {
  padding-top: 100%; 
  background-position: center;  
  background-size: cover;
  border-radius: $radius-round;
  box-shadow: $shadow-2;
}

.footerLink {
  transition: $transition-standard;
  path {
    transition: $transition-standard;
    fill: $dark-700;
  }
  a { 
    transition: $transition-standard;
    color: $dark-700;
    &:hover {
      text-decoration: none;
      color: $dark-900;
      path {
        fill: $dark-900;
      }
    }
  }
}