@import '../../public/styles/variables.scss';

.profileCard {
  transition: $transition-standard;
  overflow:hidden;
  border: 1px solid $light-300 ;
  a {
    color: $light-900;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    box-shadow: $shadow-5;
    // a {
    //   text-decoration: underline;
    // }
    // a {
    //   text-decoration: none;
    // }
  }
}
.job {
  padding: 24px 0;
  transition: $transition-standard;
  overflow: hidden;
  background: none;
  border: none;
  align-items: left;
  text-align: left;
  height: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid $light-300;
  }
  &:hover {
    text-decoration: none;
  }
}
.jobContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}
.link {
  color: $light-700;
  width: fit-content;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  svg {
    fill: $light-700;
  }
  &:hover {
    text-decoration: underline;
    color: $light-900;
    svg {
      fill: $light-900;
    }
  }
}