@import '../../public/styles/variables.scss';

.heading {
  font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', Times, serif; 
  // font-family: 'Gallery Modern', 'Cormorant Garamond', Georgia, 'Times New Roman', Times, serif; 
  line-height: 80%;
  font-weight: 500;
}

.heading1 {
  font-size: 120px;
  letter-spacing: 0;
}
.heading2 {
  font-size: 88px;
  letter-spacing: 0;
}

.subheading {
  font-family: 'Inter', 'PlusJakartaSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.05rem;
  line-height: 120%;
}

.body {
  font-family: 'Inter', 'PlusJakartaSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -0.03rem;
  color: #7B8386
}



.profileCard {
  transition: $transition-standard;
  overflow:hidden;
  border: 1px solid $dark-300 ;
  a {
    color: $dark-900;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    box-shadow: $shadow-5;
    // a {
    //   text-decoration: underline;
    // }
    // a {
    //   text-decoration: none;
    // }
  }
}
.job {
  padding: 0;
  transition: $transition-standard;
  overflow: hidden;
  background: none;
  border: none;
  align-items: left;
  text-align: left;
  height: 100%;
  &:hover {
    text-decoration: none;
  }
}
.jobContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}
.link {
  color: $dark-900;
  width: fit-content;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition:$transition-standard;
  gap: 12px;
  svg {
    fill: $dark-900;
    transition:$transition-standard;
  }
  &:hover {
    text-decoration: none;
    color: $dark-900;
    svg {
      fill: $dark-900;
      transform: translateX(16px)
    }
  }
}