@font-face {
  font-family: 'Cormorant Garamond';
  src: local('CormorantGaramond-Medium'),
      url('CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: local('CormorantGaramond-Regular'),
      url('CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: local('CormorantGaramond-Bold'),
      url('CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: local('CormorantGaramond-Light'),
      url('CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* 
@font-face {
  font-family: 'Visuelt Pro';
  src: url('VisueltPro-Italic.eot');
  src: local('VisueltPro-Italic'),
      url('VisueltPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('VisueltPro-Italic.woff2') format('woff2'),
      url('VisueltPro-Italic.woff') format('woff'),
      url('VisueltPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} */

