@import '/public/styles/variables.scss';

.darkBackground {
  background: #242837;
}

.logoSvg {
  .logoPath {
    transition: $transition-standard;
  }
  &:hover {
    .logoPath {
      fill: $dark-900;
    }
  }
}