@import '../../public/styles/variables.scss';

.headerImage {
  width: 100%;
  min-height: 120px; 
  border-radius: 0 0 $radius-medium $radius-medium; 
  background-size: cover; 
  background-position: center; 
  padding-top: 25%;
}
.profilePicture {
  // margin-top: 48px;
  height: 160px; 
  width: 160px; 
  border-radius: 100%; 
  border: 4px solid white; 
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // box-shadow: $shadow-2;
}
.profileCard {
  transition: $transition-standard;
  overflow:hidden;
  // border:1px solid $dark-300 ;
  &:hover {
    box-shadow: $shadow-5;
  }
}
.summary {
  white-space: break-spaces;
}
.job {
  padding: 32px;
  transition: $transition-standard;
  overflow: hidden;
  background: none;
  border: none;
  align-items: left;
  text-align: left;
  &:not(:last-child) {
    border-bottom: 1px solid $dark-300;
  }
  &:hover {
    background: $dark-100;
    text-decoration: none;
  }
}
.experienceImage {
  width: 80px;
  border-radius: $radius-medium; 
}