@import '../../public/styles/variables.scss';

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
}

.featureCard {
  text-align: left;
  background: $dark-100;
  border-radius: $radius-small;
  box-shadow: $shadow-2;
  overflow: hidden;
  transition: $transition-standard;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
}

.featureCard img, .featureCard video { 
  width: 100%;
  display: block;
}

.postCard {
  transition: $transition-standard;
  border-color: $dark-300;
  &:hover {
    cursor: pointer;
    box-shadow: $shadow-4;
  }
}