@import '../../public/styles/variables.scss';

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  border: 1px solid $dark-300;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
}

.featureCard {
  text-align: left;
  background: $dark-100;
  border-radius: $radius-small;
  box-shadow: $shadow-2;
  overflow: hidden;
  transition: $transition-standard;
  border: 1px solid $dark-300;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
}

.featureCard img, .featureCard video { 
  width: 100%;
  display: block;
}

.postCard {
  transition: $transition-standard;
  border-color: $dark-300;
  gap: 24px;
  @media (min-width: $breakpoint-md) {
    gap: 48px;
  }
  .featureCard {
    border: none;
    box-shadow: none;
    &:hover {
      transform: scale(1)
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: $shadow-4;
    transform: scale(1.02)
  }
}

.iframeWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 120%;
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
  @media (min-width: $breakpoint-lg) {
    padding-top: 56.25%;
  }
}
.iframeContent {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}