@import '../public/styles/variables.scss';

/*.headingUnderlineContainer {
  box-shadow: inset 0px -12px 0px 0px white, inset 0px -28px 0px 0px $primary-900;
}*/

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
}
.imageCarouselWrapper {
  position: relative;
  height: 480px;
}
.imageCarousel {
  position: absolute;
  height: 480px;
  img {
    border-radius: $radius-medium;
  }
}
.featureCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: $radius-large;
  div:nth-of-type(1) {
    padding: 24px;
  }
  @media (min-width: $breakpoint-sm) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    div:nth-of-type(1) {
      padding: 80px;
    }
  }
}
.postCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: $radius-large;
  width: 100%;
  svg {
    transition: $transition-standard;
  }
  div:nth-of-type(1) {
    padding: 24px;
  }
  @media (min-width: $breakpoint-sm) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  @media (min-width: $breakpoint-lg) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  &:hover{
    svg { margin-left: 12px}
  }
}
.templatesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 64px;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
.iframeWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 120%;
  width: 100%;
  border-radius: $radius-medium;
  border: 1px solid $dark-300;
  box-shadow: $shadow-4;
  transition: $transition-standard;
  &:hover {
    box-shadow: $shadow-4;
  }
  @media (min-width: $breakpoint-lg) {
    padding-top: 56.25%;
  }
}
.iframeContent {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.stepsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 64px;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
.stepNumber {
  background: $primary-900;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  margin-bottom: 16px;
}
.sectionWrapper {
  margin-top: 120px;
  margin-bottom: 120px;
}
.primaryBackground {
  background: $primary-900;
}
.productHunt {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 2;
}
/*
.heroImage {
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  border: 1px solid $dark-300;
  &:hover {
    box-shadow: $shadow-5;
  }
}*/

.layoutGrid {
  display: grid;
  gap: 48px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  &:hover {
    * {
      text-decoration: none;
    }
  }
}

.sectionImageTag {
  position: absolute;
  transition: $transition-standard;
  opacity: 0;
  text-decoration: none!important;
  &:hover {
    cursor: pointer;
  }
}

.sectionImage {
  padding-top: 60%; 
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $radius-large;
  box-shadow: $shadow-2;
  &.sectionImageVerticle {
    padding-top: calc(66.66% * 2); 
  }
  &:hover {
    .sectionImageTag {
      opacity: 1;
    }
  }
}

.sectionImageMobile {
  padding-top: 213%; 
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $radius-large;
  box-shadow: $shadow-2;
  &.sectionImageVerticle {
    padding-top: calc(66.66% * 2); 
  }
  &:hover {
    .sectionImageTag {
      opacity: 1;
    }
  }
}

.accordionWrapper {
  @media (min-width: $breakpoint-lg) {
    max-width: 640px;
  }
}

.useCaseCard {
  transition: $transition-long;
}

.useCaseCardHide {
  position: absolute;
  left: 0;
  scale: 0.2;
}

.fixedHeader {
  position: fixed;
  transition: $transition-standard;
  top: -66px;
  width: 100%;
  z-index: 3;
}

.fixedHeaderScrolled {
  position: fixed;
  top: 0;
}

.gradientSection {
  background: radial-gradient(at bottom, $primary-800, transparent 50vw);
}

.sectionList {
  position: sticky;
  top: 48px;
}

.featureItemWrapper {
  transition: $transition-standard;
  background: #27293A;
  border-radius: $radius-large;
  box-shadow: $shadow-2, 0 0 0 0.5px $light-500;
  // border: 0.5px solid $light-300;
  overflow: hidden;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    &:hover {
      transform: scale(1.02)
    }
  }
}

.featureItemWrapperWide {
  @media (min-width: $breakpoint-lg) {
    min-width: 520px;
  }
}

.featureItemImage {
  height: 240px;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.featureItemImageAdjust {
  max-height: 240px;
  background-size: cover;
  @media (min-width: 438px) {
    background-size: contain;
  }
  @media (min-width: $breakpoint-md) {
    background-size: cover;
  }
}

.epicPoemCard {
  width: 100%;
  transition: translate $transition-long, background-color $transition-long;
  background-color: $background;
  // box-shadow: $shadow-0, inset 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: $shadow-5;
  border-radius: 4px;
  position: relative;
  translate: 0 64px;
  @media (max-width: $breakpoint-md - 1px) {
    box-shadow: 0 0 1px 1px rgba($dark-900, 0.04), 0 0 1px 0 rgba($dark-900, 0.08), 0 0px 40px -2px rgba($dark-900, 0.12);
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.05;
    pointer-events: none;
    z-index: 1;
    border-radius: 4px;
  }
  
  h3 {
    color: $dark-600;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.05), transparent);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, rgb(0, 0, 0, 0.05) 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px);
  }

  &.highlight {
    // box-shadow: $shadow-1, inset 0 0 10px rgba(0, 0, 0, 0.2);
    // box-shadow: $shadow-1;
    translate: 0 0;
    
    &::before {
      opacity: 0.07;
    }
    &:hover {
      translate: 0 -24px;
    }
    
  }
  &:hover {
    translate: 0 -2px;
  }
}

.epicPoemCardIliad {
  background-color: $light-900;
  svg path {
    stroke: hsl(60, 9%, 95%);
  }
  
  // @media (max-width: $breakpoint-md - 1px) {
  //  scale: 0.95;
  // }
  
  &:hover,
  &.highlight {
    background-color: #4B2123;
    h3 {
      color: $light-900;
    }
    svg path {
      stroke: #E07443;
    }
  }
  @media (max-width: $breakpoint-md - 1px) {
    width: 80%;
    box-shadow: 0 0 1px 1px rgba($dark-900, 0.04), 0 0 1px 0 rgba($dark-900, 0.08), 0 0px 40px -2px rgba($dark-900, 0.12);
  }
  // @media (max-width: $breakpoint-md - 1px) {
  //   background-color: #4B2123;
  //   h3 {
  //     color: $light-900;
  //   }
  //   svg path {
  //     stroke: #E07443;
  //   }
  // }
}
.epicPoemCardOdyssey {
  background-color: $light-900;
  svg path {
    stroke: hsl(60, 9%, 95%);
  }
  p {
    color: $dark-600;
  }
  &:hover,
  &.highlight {
    background-color: #0D4F59;
    h3 {
      color: $light-900;
    }
    p {
      color: $light-700;
    }
    svg path {
      stroke: #7AD7FF;
    }
  }
  // @media (max-width: $breakpoint-md - 1px) {
  //   background-color: #0D4F59;
  //   h3 {
  //     color: $light-900;
  //   }
  //   p {
  //     color: $light-700;
  //   }
  //   svg path {
  //     stroke: #7AD7FF;
  //   }
  // }
  @media (max-width: $breakpoint-md - 1px) {
    width: 80%;
    margin-left: 20%;

    box-shadow: 0 0 1px 1px rgba($dark-900, 0.04), 0 0 1px 0 rgba($dark-900, 0.08), 0 0px 40px -2px rgba($dark-900, 0.12);
  }
}

// body {
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   perspective: 1200px;
//   background: #ccc;
// }

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 450px;
  width: 300px;
  cursor: pointer;
  backface-visibility: visible;
  transition: rotate 1s cubic-bezier(0.2, 0.8, 0.2, 1), all $transition-long;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  transform: scale(1.05);
}

.front, .back {
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.05), transparent);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 3px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.25) 7px, rgba(255, 255, 255, 0.25) 10px, rgb(0, 0, 0, 0.05) 12px, transparent 16px, rgba(255, 255, 255, 0.25) 17px, transparent 22px);
  }
}

.front.iliad {
  background-color: #4B2123;
  h5 {
    color: $light-900;
  }
  svg path {
    stroke: #E07443;
  }
}
.back.iliad {
  background-color: #4B2123;
}
.front.odyssey {
  background-color: #0D4F59;
  h5 {
    color: $light-900;
  }
  svg path {
    stroke: #7AD7FF;
  }
}
.back.odyssey { 
  background-color: #0D4F59;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

// .book:hover {
//   rotate: 90deg
// }

.book:hover .front {
  transform: rotateY(-28deg) scale(1.1);
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, .1);
}

.book:hover .page1 {
  transform: rotateY(-24deg) scale(1.1);
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, .1);
}

.book:hover .page2 {
  transform: rotateY(-20deg) scale(1.1);
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, .1);
}

.book:hover .page3 {
  transform: rotateY(16deg) scale(1.1);
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, .1);
}

.book:hover .page4 {
  transform: rotateY(-12deg) scale(1.1);
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, .1);
}

.book:hover .page5 {
  transform: rotateY(-8deg) scale(1.1);
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, .1);
}

.book:hover .page6 {
  transform: rotateY(-4deg) scale(1.1);
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, .1);
}

.book:hover .back {
  transform: rotateY(0deg) scale(1.1);
}

.book.active {
  rotate: 90deg;
}

.book.inactive {
  // opacity: 0;
  translate: 0 960px;
}

.book.active .front {
  transform: rotateY(-170deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active .page1 {
  transform: rotateY(-155deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active .page2 {
  transform: rotateY(-25deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active .page3 {
  transform: rotateY(-147deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active .page4 {
  transform: rotateY(-33deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active .page5 {
  transform: rotateY(-140deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active .page6 {
  transform: rotateY(-40deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active .back {
  transform: rotateY(-10deg) scale(1);
}

.book.active:hover .front {
  transform: rotateY(-160deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active:hover .page1 {
  transform: rotateY(-150deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active:hover .page2 {
  transform: rotateY(-30deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active:hover .page3 {
  transform: rotateY(-140deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active:hover .page4 {
  transform: rotateY(-40deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active:hover .page5 {
  transform: rotateY(-130deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active:hover .page6 {
  transform: rotateY(-50deg) scale(1);
  box-shadow: 0 0em 3em 0 rgba(0, 0, 0, .2);
}

.book.active:hover .back {
  transform: rotateY(-20deg) scale(1);
}

// from Names

.sectionWrapper {
  margin-top: 120px;
  margin-bottom: 120px;
}

.genderSwitchWrapper {
  transition: $transition-standard;
  position: relative;
  display: flex;
  flex-direction: row;
  background: $dark-200;
  border-radius: $radius-large;
  border: none;
  box-shadow: $shadow-inset-1;
  // &:hover {
  //   // background: $dark-light;
  //   box-shadow: $shadow-inset-1;
  //   .genderSwitchStyles {
  //     box-shadow: $shadow-1;
  //   }
  // }
}

.genderSwitchStyles {
  transition: $transition-standard;
  box-shadow: $shadow-1;
}

.genderSwitchStylesMale {
  left: 2px;
}

.genderSwitchStylesFemale {
  left: 40px;
}

.genderSwitchMaleIcon {
  transition: $transition-standard;
  path {
    fill: $dark-700;
  }
  &.active {
    path {
      fill: #598FF3;
    }
  }
}

.genderSwitchFemaleIcon {
  transition: $transition-standard;
  path {
    fill: $dark-700;
  }
  &.active {
    path {
      fill: #DE80E0;
    }
  }
}

.shortlistButton {
  &:hover {
    svg path {
      fill: $error-900!important;
    }
  }
}

.shortlistButtonHighlight {
  background-color: $light-900!important;
  opacity: 1!important;
  svg path {
    fill: $error-900!important;
  }
}

.epicPoemCard {
  background: $light-900;
  max-width: 480px;
  transition: $transition-standard;
  &:hover {
    box-shadow: $shadow-5;
    transform: scale(1.02);
  }
}

.epicPoemIllustration {
  // box-shadow: $shadow-1;
  width: fit-content;
  transition: $transition-standard;
  &:hover {
    transform: scale(1.02);
  }
}

.epicPoemIllustrationIliad {
  background-color: #4B2123;
  svg path {
    stroke: #E07443;
  }
}
.epicPoemIllustrationOdyssey {
  background-color: #0D4F59;
  svg path {
    stroke: #7AD7FF;
  }
}

@keyframes transitionIliad {
  0%, 20% {
    background-color: $background;
    box-shadow: $shadow-0;
    transform: scale(1);
  }
  40%, 60% {
    background-color: $background;
    box-shadow: $shadow-1;
    transform: scale(1);
  }
  80%, 100% {
    background-color: #4B2123;
    box-shadow: $shadow-1;
    transform: scale(1.02);
  }
}
@keyframes transitionIliadColourPaths {
  0%, 60% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}
@keyframes transitionIliadGreyPaths {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// @keyframes transitionIliad {
//   0% {
//     background-color: $dark-200;
//     svg path {
//       stroke: $dark-700;
//     }
//   }
//   50% {
//     background-color: $dark-200;
//     svg path {
//       stroke: $dark-700;
//     }
//   }
//   100% {
//     background-color: #4B2123;
//     svg path {
//       stroke: #E07443;
//     }
//   }
// }

.epicPoemIllustrationIliadAnimate {
  animation: transitionIliad 2s ease-in-out;
  animation-fill-mode: forwards; 
  // svg path {
  //   stroke: #E07443;
  // }
}

.epicPoemIllustrationIliadColourPathAnimate {
  animation: transitionIliadColourPaths 2s ease-in-out;
  animation-fill-mode: forwards; 
}

.epicPoemIllustrationIliadGreyPathAnimate {
  animation: transitionIliadGreyPaths 2s ease-in-out;
  animation-fill-mode: forwards; 
}