@import '../public/styles/variables.scss';

/*.headingUnderlineContainer {
  box-shadow: inset 0px -12px 0px 0px white, inset 0px -28px 0px 0px $primary-900;
}*/

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  border: 1px solid $dark-300;
  &:hover {
    box-shadow: $shadow-5;
  }
}
.stepsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 64px;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
.stepNumber {
  background: $primary-900;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  margin-bottom: 16px;
}
.sectionWrapper {
  margin-top: 160px;
  margin-bottom: 160px;
}
.primaryBackground {
  background: $primary-900;
}
.productHunt {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 2;
}
/*
.heroImage {
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  border: 1px solid $dark-300;
  &:hover {
    box-shadow: $shadow-5;
  }
}*/