@import '../public/styles/variables.scss';

/*.headingUnderlineContainer {
  box-shadow: inset 0px -12px 0px 0px white, inset 0px -28px 0px 0px $primary-900;
}*/

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
}
.imageCarouselWrapper {
  position: relative;
  height: 480px;
}
.imageCarousel {
  position: absolute;
  height: 480px;
  img {
    border-radius: $radius-medium;
  }
}
.featureCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: $radius-large;
  div:nth-of-type(1) {
    padding: 24px;
  }
  @media (min-width: $breakpoint-sm) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    div:nth-of-type(1) {
      padding: 80px;
    }
  }
}
.postCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: $radius-large;
  width: 100%;
  svg {
    transition: $transition-standard;
  }
  div:nth-of-type(1) {
    padding: 24px;
  }
  @media (min-width: $breakpoint-sm) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  @media (min-width: $breakpoint-lg) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  &:hover{
    svg { margin-left: 12px}
  }
}
.templatesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 64px;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
.iframeWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 120%;
  width: 100%;
  border-radius: $radius-medium;
  border: 1px solid $dark-300;
  box-shadow: $shadow-4;
  transition: $transition-standard;
  &:hover {
    box-shadow: $shadow-4;
  }
  @media (min-width: $breakpoint-lg) {
    padding-top: 56.25%;
  }
}
.iframeContent {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.stepsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 64px;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
.stepNumber {
  background: $primary-900;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  margin-bottom: 16px;
}
.sectionWrapper {
  margin-top: 120px;
  margin-bottom: 120px;
}
.primaryBackground {
  background: $primary-900;
}
.productHunt {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 2;
}
/*
.heroImage {
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  border: 1px solid $dark-300;
  &:hover {
    box-shadow: $shadow-5;
  }
}*/

.layoutGrid {
  display: grid;
  gap: 48px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  &:hover {
    * {
      text-decoration: none;
    }
  }
}

.sectionImageTag {
  position: absolute;
  transition: $transition-standard;
  opacity: 0;
  text-decoration: none!important;
  &:hover {
    cursor: pointer;
  }
}

.sectionImage {
  padding-top: 60%; 
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $radius-large;
  box-shadow: $shadow-2;
  &.sectionImageVerticle {
    padding-top: calc(66.66% * 2); 
  }
  &:hover {
    .sectionImageTag {
      opacity: 1;
    }
  }
}

.sectionImageMobile {
  padding-top: 213%; 
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $radius-large;
  box-shadow: $shadow-2;
  &.sectionImageVerticle {
    padding-top: calc(66.66% * 2); 
  }
  &:hover {
    .sectionImageTag {
      opacity: 1;
    }
  }
}

.accordionWrapper {
  @media (min-width: $breakpoint-lg) {
    max-width: 640px;
  }
}

.useCaseCard {
  transition: $transition-long;
}

.useCaseCardHide {
  position: absolute;
  left: 0;
  scale: 0.2;
}

.fixedHeader {
  position: fixed;
  transition: $transition-standard;
  top: -66px;
  width: 100%;
  z-index: 3;
}

.fixedHeaderScrolled {
  position: fixed;
  top: 0;
}

.gradientSection {
  background: radial-gradient(at bottom, $primary-800, transparent 50vw);
}

.sectionList {
  position: sticky;
  top: 48px;
}

.featureItemWrapper {
  transition: $transition-standard;
  background: #27293A;
  border-radius: $radius-large;
  box-shadow: $shadow-2, 0 0 0 0.5px $light-500;
  // border: 0.5px solid $light-300;
  overflow: hidden;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    &:hover {
      transform: scale(1.02)
    }
  }
}

.featureItemWrapperWide {
  @media (min-width: $breakpoint-lg) {
    min-width: 520px;
  }
}

.featureItemImage {
  height: 240px;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.featureItemImageAdjust {
  max-height: 240px;
  background-size: cover;
  @media (min-width: 438px) {
    background-size: contain;
  }
  @media (min-width: $breakpoint-md) {
    background-size: cover;
  }
}

.epicPoemCard {
  transition: all $transition-long;
  background-color: $background;
  h2 {
    color: $dark-900;
  }
  &:hover {
    box-shadow: $shadow-1;
    transform: scale(1.01);
  }
}

.epicPoemCardIliad {
  // svg path {
  //   stroke: hsl(60, 9%, 89%);
  // }
  // &:hover {
    background-color: #4B2123;
    h2 {
      color: $light-900;
    }
    svg path {
      stroke: #E07443;
    }
  // }
}
.epicPoemCardOdyssey {
  // svg path {
  //   stroke: hsl(60, 9%, 89%);
  // }
  // &:hover {
    background-color: #0D4F59;
    h2 {
      color: $light-900;
    }
    svg path {
      stroke: #7AD7FF;
    }
  // }
}