@import '../public/styles/variables.scss';

/*.headingUnderlineContainer {
  box-shadow: inset 0px -12px 0px 0px white, inset 0px -28px 0px 0px $primary-900;
}*/

.heroImageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-4;
  }
}
.imageCarouselWrapper {
  position: relative;
  height: 480px;
}
.imageCarousel {
  position: absolute;
  height: 480px;
  img {
    border-radius: $radius-medium;
  }
}
.featureCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: $radius-large;
  div:nth-of-type(1) {
    padding: 24px;
  }
  @media (min-width: $breakpoint-sm) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    div:nth-of-type(1) {
      padding: 80px;
    }
  }
}
.postCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: $radius-large;
  width: 100%;
  svg {
    transition: $transition-standard;
  }
  div:nth-of-type(1) {
    padding: 24px;
  }
  @media (min-width: $breakpoint-sm) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  @media (min-width: $breakpoint-lg) {
    div:nth-of-type(1) {
      padding: 48px;
    }
  }
  &:hover{
    svg { margin-left: 12px}
  }
}
.iframeWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 120%;
  width: 100%;
  border-radius: $radius-medium;
  border: 1px solid $dark-300;
  box-shadow: $shadow-4;
  transition: $transition-standard;
  &:hover {
    box-shadow: $shadow-4;
  }
  @media (min-width: $breakpoint-lg) {
    padding-top: 56.25%;
  }
}
.iframeContent {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.stepsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 64px;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
.stepNumber {
  background: $primary-900;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  margin-bottom: 16px;
}
.sectionWrapper {
  margin-top: 160px;
  margin-bottom: 160px;
}
.primaryBackground {
  background: $primary-900;
}
.productHunt {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 2;
}
/*
.heroImage {
  width: 100%;
  border-radius: $radius-medium;
  box-shadow: $shadow-2;
  transition: $transition-standard;
  border: 1px solid $dark-300;
  &:hover {
    box-shadow: $shadow-5;
  }
}*/