@import '../../public/styles/variables.scss';

.sectionCard {
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid $dark-300;
}
.planCard {
  border: 2px solid $dark-100;
  transition: $transition-standard;
  &:hover{
    box-shadow: $shadow-5;
    transform: translateY(-1px);
  }
  &.active{
    border: 2px solid $primary-900;
    background: $primary-100;
  }
}