@import '../../public/styles/variables.scss';

.sectionCard {
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid $dark-300;
}
.planCard {
  border: 2px solid $dark-100;
  transition: $transition-standard;
  &:hover{
    border: 2px solid $primary-900;
    box-shadow: $shadow-5;
    transform: translateY(-1px);
  }
  &.active{
    border: 2px solid $primary-900;
    background: $primary-100;
  }
}
.imageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  border-radius: $radius-small;
  border: 1px solid $dark-300;
}