@import '../../public/styles/variables.scss';

.imageWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
  border-radius: $radius-small;
  border: 1px solid $dark-300;
}
.planCard {
  border: 2px solid transparent;
  transition: $transition-standard;
  background: $dark-200;
  &:hover{
    border: 2px solid $primary-900;
    background: $primary-200;
    box-shadow: $shadow-5;
    transform: translateY(-1px);
  }
  &.active{
    border: 2px solid $primary-900;
    background: $primary-400;
  }
}
.overlayBackground {
  background: $gradient-3;
  animation: createBackground 800ms;
  min-width: 200%; min-height: 200%;
  border-radius: 100%;
  padding-top: 200vw;
  padding-left: 200vh;
}
@keyframes createBackground {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.overlayContentOne {
  animation: showContent 8000ms;
  animation-fill-mode: forwards;
}
@keyframes showContent {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.overlayContentTwo {
  animation: showContentTwo 4000ms;
  animation-fill-mode: forwards;
}
@keyframes showContentTwo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}