@import '/public/styles/variables.scss';

.shortlistLayout {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.shortlistItem {
  background-color: $light-900;
  min-height: 240px;
  // box-shadow: $shadow-0;
  transition: $transition-standard;
  h3, p {
    transition: $transition-standard;
    color: $dark-700
  }
  &:hover {
    box-shadow: $shadow-5;
    transform: scale(1.02);
    h3 {
      color: $dark-900
    }
    p {
      color: $dark-800
    }
  }
}

.shortlistItemLoading {
  min-height: 240px;
}

.shortlistMore {
  min-height: 240px;
  background-color: $light-900;
  box-shadow: $shadow-0;
  transition: $transition-standard;
  p {
    color: $dark-600;
    transition: $transition-standard;
  }
  svg path {
    fill: $dark-600;
    transition: $transition-standard;
  }
  &:hover {
    p {
      color: $dark-900;
    }
    svg path {
      fill: $dark-900;
    }
    box-shadow: $shadow-1;
    cursor: pointer;
  }
  &:active {
    box-shadow: $shadow-inset-1;
    p {
      color: $dark-600;
    }
    svg path {
      fill: $dark-600;
    }
  }
}
